<div>
    <h1> About Us </h1>
</div>
<div class="container-fluid">
    <div class="thefeaturette ">
        <hr class="featurette-divider">
    
        <div class="row featurette ">
            <div class="col-md-7" >
                <h2 class="featurette-heading">Our Objective<span class="text-muted"> in brief </span></h2>
                <p class="lead"><i class="arrow right"></i>Safe and Adequate Blood Supplies<br><i class="arrow right"></i>Reduced Turnaround Time<br><i class="arrow right"></i>Preventing Wastage of Blood<br><i class="arrow right"></i>Restrict Professional Donors<br><i class="arrow right"></i>Networking of Blood Banks<br><i class="arrow right"></i>Donor Repository
                </p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.wuga.org/sites/wuga/files/202104/blood_donation.jpg" style="width: 500px; height: 300px;">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">What we do  <span class="text-muted">...?</span></h2>
                <p class="lead">Life Line enforces Drug & Cosmetic Act, National blood policy standards and guidelines ensuring proper collection & donation, effective management and monitoring the quality and quantity of the donated blood. Considering the national roll out, We has been developed with modular and scalable approach with configurable rule based architecture allowing customization to easily incorporate specific requirements from nationwide stakeholders.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/News/public-policy/061415_donor_THUMB_LARGE.jpg?w=1155&h=758" style="width: 500px; height: 300px;">
    
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">components for management of the blood donation life cycle </h2>
                <p class="lead"><i class="arrow right"></i>The bio metric Donor Management System for identifying, tracking and blocking donors based on donor's health, donation history etc.<br> <i class="arrow right"></i>It provides features such as blood grouping, TTI screening, antibody screening, component preparation etc. as per the defined processes and rules.<br><i class="arrow right"></i>  A centralized Blood Inventory Management System for keeping track of the blood stock across numerous blood banks.<br> <i class="arrow right"></i>Bio-Medical Waste Management System for disposal of discarded blood and other waste generated during this process.<br><i class="arrow right"></i>Generation of rare blood group donor registries and the generation of regular repeat donors.<br><i class="arrow right"></i>Alert and Notification System
                </p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.ccmhhealth.com/wp-content/uploads/blog-post-template-5-770x510.png" style="height: 300px; width: 500px;">
            </div>
        </div>
    
      <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Future Scope </h2>
                <p class="lead"><i class="arrow right"></i>Exapnd to more state and citites.<br><i class="arrow right"></i> Andriod application for tracking and placing order.<br><i class="arrow right"></i>Connect with other blood banks<br><i class="arrow right"></i>Live stock update system<br><i class="arrow right"></i>Donor screening system</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.spjain.org/hubfs/events-images/Blood-Donation-Drive/sp-jain-blood-donation-drive-dubai.jpg" style="width: 500px; height: 300px;">
    
            </div>
        </div>
        <hr class="featurette-divider">
    
        
    
        
    
    </div>
    
    
  
  
</div>
  