
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/home/Benefits-of-blood-donation.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5></h5> -->
          <button type="button" class="btn btn-danger" routerLink="/knowmore" routerLinkActive="active-link">Know more</button>
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="3000">
        <img src="assets/home2/slider01.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block ">
          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/home2/slider04.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: white;">Want to Donate?</h5>
          <button type="button" class="btn btn-danger" routerLink="/donor-register" routerLinkActive="active-link">Register here</button>
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>

<!-- --------------------------Cards-------------- -->


<div class="row justify-content-center">
    
  <div class="col-sm-3 text-center">
    <div class="card">
      <div class="card-body">
        <a routerLink="/donor-register" routerLinkActive="active-link" >   <img src="assets/home/card1.png" class="card-img-top" style="width: 70px; height: 70px; padding-bottom: 5px;"></a>
        <p class="card-text">Donate Registration</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-3 text-center">
    <div class="card">
      <div class="card-body">
        <a routerLink="/hospital-register" routerLinkActive="active-link" >   <img src="assets/home/card2.png" class="card-img-top" style="width: 70px; height: 70px; padding-bottom: 5px;"></a>
        <p class="card-text">Hospital Registration</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-3 text-center">
    <div class="card">
      <div class="card-body">
        <a routerLink="/gallery" routerLinkActive="active-link" >   <img src="assets/home/card3.png" class="card-img-top" style="width: 70px; height: 70px; padding-bottom: 5px;"></a>
        <p class="card-text">Gallery</p>
        
      </div>
    </div>
  </div>

  <div class="col-sm-3 text-center">
    <div class="card">
      <div class="card-body">
        <a routerLink="/gallery" routerLinkActive="active-link" >   <img src="assets/home/card4.png" class="card-img-top" style="width: 70px; height: 70px; padding-bottom: 5px;"></a>
        <p class="card-text">Know more about donation </p>
        
      </div>
    </div>
  </div>
   
 
</div>

<!-- ---------------------------------Featurette------------------------- -->


<div class="container-fluid">
  <div class="thefeaturette ">
      <hr class="featurette-divider">

      <section id="f1">
        <div class="row featurette ">
          <div class="col-md-7" >
              <h2 class="featurette-heading">Why Donate Blood </h2>
              <p class="lead"><i class="arrow right"></i>The most precious gift that one can give to another person is the gift of life. It is the essence of life.<br> 
                <i class="arrow right"></i>Your blood saves more than one life when it is separated into its components (red blood cells, plasma etc).<br>
                <i class="arrow right"></i>Blood is needed regularly for patients with diseases such as thalassemia and hemophilia, and also for the treatment of injuries after an accident, major surgeries, anemia, etc.<br>
                <i class="arrow right"></i>It improves your health.</p>
          </div>
          <div class="col-md-5">
              
              <img src="assets/home/f1.jpg" style="width: 500px; height: 300px; border-radius: 20px;">
          </div>
        </div>
        
      </section>
  
        
      

      <section id="f2">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Benefits of Donating Blood</h2>
              <p class="lead"> <i class="arrow right"></i>Less likely to suffer diseases<br>
                <i class="arrow right"></i>Did you know that people who donate blood are 88% less likely to suffer a heart attack and 33% less likely to acquire any type of cardiovascular disease.<br>
                <i class="arrow right"></i>When you donate blood, it removes 225 to 250 milligrams of iron from your body, hence reducing the risk of heart disease.<br>
                <i class="arrow right"></i>Blood Center performs numerous tests on the donated blood. Therefore regular blood donation helps in sheilding you from serious diseases.</p>
          </div>
          <div class="col-md-5 order-md-1">
              
              <img src="assets/home/f2.jpg" style="width: 500px; height: 300px; border-radius: 20px;">
  
          </div>
        </div>

      </section>

      <section id="f3">
        <div class="row featurette">
          <div class="col-md-7">
              <h2 class="featurette-heading">Facts About Blood </h2>
              <p class="lead">
                <i class="arrow right"></i>One unit of donated blood can save up to three lives.<br>
                <i class="arrow right"></i>You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.<br>
                <i class="arrow right"></i>Scientists have estimated the volume of blood in the human body to be eight percent of body weight.<br>
                <i class="arrow right"></i>There are 100,000 miles of blood vessels in an adult human body.<br>
                <i class="arrow right"></i>A red blood cell can make a complete circuit of your body in 30 seconds.<br>
                <i class="arrow right"></i>White blood cells make up about 1% of your blood.<br>


              </p>
          </div>
          <div class="col-md-5">
              
              <img src="assets/home/f3.png" style="height: 300px; width: 500px; border-radius: 20px;">
          </div>
        </div>

      </section>
  
      
  
      
      
  
      
  
  </div>