<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="card"  id="formm">
                <h1>Need help? Contact our team.</h1>

                <form class="row g-3 justify-content-md-center " [formGroup]="contactForm"  (ngSubmit)="onSubmit()">
                    <div class="row ">
                        <div class="col-md-5 ">
                            <label for="contactfName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="contactfName" formControlName="contactfName">
                            <div *ngIf="!contactfName?.valid && (contactfName?.dirty ||contactfName?.touched)" class="alert alert-danger">
                                <div [hidden]="!contactfName?.errors?.['required']">
                                    First Name is required.
                                </div> 
                                <div [hidden]="!contactfName?.errors?.['pattern']">
                                    Only characters are allowed.
                                </div> 
                                <div [hidden]="!contactfName?.errors?.['minlength']">
                                    Min length is 3 .
                                </div> 
                            </div>
                            
                        </div>
                
                        <div class="col-md-5">
                            <label for="contactlName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="contactlName" formControlName="contactlName">
                            <div *ngIf="!contactlName?.valid && (contactlName?.dirty ||contactlName?.touched)" class="alert alert-danger">
                                <div [hidden]="!contactlName?.errors?.['required']">
                                    Last Name is required.
                                </div> 
                                <div [hidden]="!contactlName?.errors?.['pattern']">
                                    Only characters are allowed.
                                </div> 
                                <div [hidden]="!contactlName?.errors?.['minlength']">
                                        Min length is 3 .
                                </div> 
                            </div>
                            
                        </div>

                    </div>
                
                    

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="contactemail" class="form-label">email</label>
                            <input type="text" class="form-control" id="contactemail" formControlName="contactemail">
                                <div *ngIf="!contactemail?.valid && (contactemail?.dirty ||contactemail?.touched)" class="alert alert-danger">
                                <div [hidden]="!contactemail?.errors?.['required']">
                                    email is required.
                                </div>
                                <div [hidden]="!contactemail?.errors?.['email']">
                                        Invalid email id
                                </div> 
                                                
                                </div>
                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="contactmobile" class="form-label">Mobile no.</label>
                            <input type="text" class="form-control" id="contactmobile" formControlName="contactmobile">
                                <div *ngIf="!contactmobile?.valid && (contactmobile?.dirty ||contactmobile?.touched)" class="alert alert-danger">
                                <div [hidden]="!contactmobile?.errors?.['required']">
                                        mobile number is required.
                                </div>
                                <div [hidden]="!contactmobile?.errors?.['pattern']">
                                        invalid mobile number.
                                </div>
                                                
                                </div>
                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="contactmessage" class="form-label">Any message?</label>
                            <textarea type="text" class="form-control" id="contactmessage" formControlName="contactmessage"></textarea>
                            <div *ngIf="!contactmessage?.valid && (contactmessage?.dirty ||contactmessage?.touched)" class="alert alert-danger">
                                <div [hidden]="!contactmessage?.errors?.['required']">
                                    Message is required.
                                </div>
                                <div [hidden]="!contactmessage?.errors?.['maxlength']">
                                    Max length is 100 characters.
                            </div>  
                            
                            </div>
                            
                        </div>

                    </div>
                               
                                                                                                           
                    <div class=" d-grid gap-2 col-4 mx-auto mb-3">
                    <button class="btn btn-success"  [disabled]="!contactForm.valid" (click)="postCustomerDetails()" type="submit">Submit</button>
                    </div>
                
                </form>

                       
                            
                            
                            
                        


            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row justify-content-md-center" id="cardss">

        <div class="col-md-6  ">
            <div class="card ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238540.67412440825!2d77.6216566189112!3d20.904350870258355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a4a67774bc15%3A0x3c7b3f78ca4f9635!2sAmravati%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1640067902874!5m2!1sen!2sin"  height="320px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="card text-center py-3 px-3 ">
                <h4 >Address</h4>
                <p>255 City Center, near Amravati Engineering College, Shegaon-Kathora road, Amravati-444604</p>
            
                <h4> Phone</h4>
                <p>+91-9033047777</p>
            
                <h4>Hours</h4>
                <p>Monday-Friday: 9am-10pm, Saturday-Sunday: 9am-12pm</p>

            </div>
        </div>

    </div>
</div>



