<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Request ID</th>
            
            <th scope="col">Registration no</th>
            <th scope="col">Blood group</th>
            <th scope="col">Quantity (in bags)</th>
            <th scope="col">Status</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of info"  >
            <td>{{row.id}}</td>
           
            <td>{{row.hospitalregistration}}</td>
            <td>{{row.bloodgroup}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.status}}</td>
                               
            
        </tr>
    </tbody>
</table>
