<div class="container-fluid">
    <div>
        <h1>Admin Dashboard</h1>
    </div>
    
    <div class="row">
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">A+</h1>
              <p class="card-text">5</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">B+</h1>
              <p class="card-text">7</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">O+</h1>
                <p class="card-text">10</p>
                
              </div>
            </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">AB+</h1>
                <p class="card-text">15</p>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">A-</h1>
              <p class="card-text">10</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">B-</h1>
              <p class="card-text">2</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">O-</h1>
                <p class="card-text">13</p>
                
              </div>
            </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">AB-</h1>
                <p class="card-text">11</p>
                
                </div>
            </div>
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row">
    
        <div class="smal col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Total no od donor</h1>
              <p class="card-text">100</p>
              
            </div>
          </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Total Requests</h1>
              <p class="card-text">20</p>
              
            </div>
          </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Approved request</h1>
                <p class="card-text">13</p>
                
              </div>
            </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">Total blood units</h1>
                <p class="card-text">300</p>
                
                </div>
            </div>
        </div>
    </div>
    
    
    
    
</div>

<table class="table mt-3">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Blood group</th>
          
          <th scope="col">Quantity</th>
         
          
          

          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of customerData">
          <td>{{row.id}}</td>
          <td>{{row.bloodgroup}}</td>
          <td>{{row.bagquantity}}</td>
          
          
          <td>
            <button (click)="deleteCustomer(row)" class="btn btn-danger ">Delete</button>
          </td>
      </tr>
  </tbody>
</table>