<div class="banner">
    <h1>There is nothing better than saving a Life. Every blood donor is a hero.</h1>
    
    <div class="video-container">
        <video autoplay loop muted style="width: 100%;">
            <source src="/assets/background_video.mp4" type="video/mp4">
        </video>
    </div>            
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-9 ">
            <h1>Learn about donation</h1>
            <p>The human body contains five liters of blood, which is made of several useful components i.e. Whole blood, Platelet, and Plasma.</p>
            <p>Each type of component has several medical uses and can be used for different medical treatments. your blood donation determines the best donation for you to make.</p>
            <p>For plasma and platelet donation you must have donated whole blood in past two years.</p>
        </div>

    </div>
    

</div>


<div class="table">
    <h1>Compatible Blood Type Donor</h1>
    <img src="assets/Blood Type.png">
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Whole Blood
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <p> <strong>What is it?</strong><br>
            Blood Collected straight from the donor after its donation usually separated into red blood cells, platelets, and plasma.</p>
            
            <p><strong>Who can donate?</strong><br>
            You need to be 18-65 years old, weigh 45kg or more and be fit and healthy.</p>
            
            <p><strong> User For?</strong><br>
            Stomach disease, kidney disease, childbirth, operations, blood loss, trauma, cancer, blood diseases, haemophilia, anemia, heart disease.</p>
            
            <p><strong>Lasts For?</strong><br>
            Red cells can be stored for 42 days.</p>
            
            <p><strong>How long does it take?</strong><br>
            15 minutes to donate.</p>
            
            <p><strong>How often can I donate?</strong><br>
            Every 12 weeks</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Plasma
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
            <p><strong>What is it?</strong><br>
            The straw-coloured liquid in which red blood cells, white blood cells, and platelets float in.Contains special nutrients which can be used to create 18 different type of medical products to treat many different medical conditions.</p>

            <p><strong>Who can donate?</strong> <br>
            You need to be 18-70 (men) or 20-70 (women) years old, weigh 50kg or more and must have given successful whole blood donation in last two years.</p>

            <p><strong>User For?</strong> <br>
            Immune system conditions, pregnancy (including anti-D injections), bleeding, shock, burns, muscle and nerve conditions, haemophilia, immunisations.</p>

            <p><strong>Lasts For?</strong> <br>
            Plasma can last up to one year when frozen.</p>

            <p><strong>How does it work?</strong><br>
            We collect your blood, keep plasma and return rest to you by apheresis donation.</p>

            <p><strong>How long does it take?</strong>><br>
            15 minutes to donate.</p>

            <p><strong>How often can I donate?</strong>><br>
            Every 2-3 weeks.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Platelet
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <p><strong>What is it?</strong><br>
            The tiny 'plates' in blood that wedge together to help to clot and reduce bleeding. Always in high demand, Vital for people with low platelet count, like malaria and cancer patients.</p>
            
            <p><strong>Who can donate?</strong><br>
            You need to be 18-70 years old (men), weigh 50kg or more and have given a successful plasma donation in the past 12 months</p>
            
            <p><strong>User For?</strong><br>
            Cancer, blood diseases, haemophilia, anaemia, heart disease, stomach disease, kidney disease, childbirth, operations, blood loss, trauma, burns.</p>
            
            <p><strong>Lasts For?</strong><br>
            Just five days..</p>
            
            <p><strong>How does it work?</strong><br>
            We collect your blood, keep platelet and return rest to you by apheresis donation.</p>
            
            <p><strong>How long does it take?</strong><br>
            45 minutes to donate.</p>
            
            <p><strong>How often can I donate?</strong><br>
            Every 2 weeks</p>
          
        </div>
      </div>
    </div>
  </div>