<div class="container-fluid footer mt-5 fixed-bottom">
    <div class="row">
        <div class="col-lg-3">
            
            <h1><img src="assets/logo.png" style="width: 150px; margin-right: 15px;"><br>Life Line</h1>
            <p></p>
        </div>
        
        
        <div class="col-lg-6 justify-content-md-center" id="ab">
            <p>Menu</p>
            <div class="row justify-content-md-center">
                <div class="col-lg-3">
                    <a class="nav-link" routerLink="home"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
                    <a class="nav-link" routerLink="gallery" routerLinkActive="active-link">Gallery</a>
                    <a class="nav-link" routerLink="knowmore" routerLinkActive="active-link">knowmore</a>
                   
    
                </div>
                <div class="col-lg-3">
                    <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
                    <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
                    <a class="nav-link" routerLink="faqs" routerLinkActive="active-link" >FAQs</a>
    
                </div>

            </div> <br>                                  
                                                           
            <p> Copyright &copy; 2021  </p> 
        </div>

        <div class="col-lg-3" id="icons"> 
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
    
</div>